#%PAM-1.0
auth        [user_unknown=ignore success=done ignore=ignore default=bad] pam_securetty.so

account     required    pam_nologin.so
account     sufficient  pam_localuser.so
account     sufficient  pam_succeed_if.so uid < {{ ldap_uid_min }} quiet
account     required    pam_permit.so

password    sufficient  pam_unix.so sha512 shadow nullok try_first_pass use_authtok
password    required    pam_deny.so

# pam_selinux.so close should be the first session rule
session     required    pam_selinux.so close
session     required    pam_loginuid.so
session     optional    pam_console.so
# pam_selinux.so open should only be followed by sessions to be executed in the user context
session     required    pam_selinux.so open
session     required    pam_namespace.so
session     optional    pam_keyinit.so force revoke
session     optional    pam_keyinit.so revoke
session     required    pam_limits.so
-session    optional    pam_systemd.so
session     [success=1 default=ignore] pam_succeed_if.so service in crond quiet use_uid
session     required    pam_unix.so
session     [success=1 default=ignore] pam_succeed_if.so service !~ gdm* service !~ su* quiet
session     [default=1] pam_lastlog.so nowtmp showfailed
session     optional    pam_lastlog.so silent noupdate showfailed
-session    optional    pam_ck_connector.so
