[ldap]
uri = {{ ldap_uri }}
binddn = {{ ldap_dn | default('') }}
bindpw = {{ ldap_pw | default('') }}

[user]
base = {{ ldap_lookups.user.base }}
scope = {{ ldap_lookups.user.scope | default('sub') }}
filter = {{ ldap_lookups.user.filter }}
attr = {{ ldap_pubkey_attr }}
