uid nslcd
gid ldap

uri ldaps://{{ ldap_host }}

base passwd {{ ldap_passwd_base }}
scope passwd {{ ldap_passwd_scope | default('sub') }}
filter passwd {{ ldap_passwd_filter }}

base shadow {{ ldap_shadow_base }}
scope shadow {{ ldap_shadow_scope | default('sub') }}
filter shadow {{ ldap_shadow_filter }}

base netgroup {{ ldap_netgroup_base }}
scope netgroup {{ ldap_netgroup_scope | default('sub') }}

{% if ansible_distribution_major_version >= 7 %}
nss_min_uid {{ ldap_uid_min }}
{% endif %}
tls_cacertdir {{ ldap_tls_cacertdir }}
tls_cacertfile {{ ldap_tls_cacertdir }}/{{ ldap_tls_cert }}
tls_ciphers TLSv1
ssl on
