uid nslcd
gid ldap

uri ldaps://{{ ldap_host }}

base passwd {{ ldap_base_passwd }}
scope passwd one
filter passwd (&(objectClass=posixAccount)(gidNumber={{ ldap_gid_users }}))

base shadow {{ ldap_base_shadow }}
scope shadow one
filter shadow (&(objectClass=posixAccount)(gidNumber={{ ldap_gid_users }}))

base netgroup {{ ldap_base_netgroup }}
scope netgroup sub

{% if ansible_distribution_major_version == 7 %}
nss_min_uid {{ ldap_uid_min }}
{% endif %}
tls_cacertdir {{ ldap_tls_cacertdir }}
tls_cacertfile {{ ldap_tls_cacertdir }}/{{ ldap_tls_cert }}
tls_ciphers TLSv1
ssl on
